{% extends "base.html" %}
{% if path == pagination.first.path %}{% set activePage = "yfts" %}{% endif %}
{% set title = "Your Favorite Thing Sucks" %}
{% set hideHeader = true %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/assets/css/yfts.css" />
{% endblock %}

{% block content %}
	<div class="rss">
		<a href="/yfts.xml"><img src="/assets/images/rss.png" /></a>
	</div>
	<div class="narrow-page">
		<div class="center page-title" />
			<h1>{{title}}</h1>
			<h2>A hate blog for just about everything</h2>
		</div>
		{% for post in pagination.files %}
			{% if pagination.num == 1 %}{% set activePage = "yfts" %}{% endif %}
			<div class="page-entry">
				<div><h2 class="center"><a href="/{{ post.path }}">{{ post.title }}</a></h2></div>
				<div>{{ post.excerpt | safe }}</div>
				<p>
					<a href="/{{ post.path }}">
						Keep reading about {{ post.moreText | default('it') }}...
					</a>
				</p>
			</div>
			{% endfor %}
			{% if pagination.num > 1 %}
				<a href="/{{ pagination.first.path }}"><--</a>
				<a href="/{{ pagination.previous.path }}"><-</a>
			{% endif %}
			{% if pagination.num < pagination.pages.length  %}
				<a href="/{{ pagination.next.path }}">-></a>
				<a href="/{{ pagination.last.path }}">--></a>
			{% endif %}
	</div>
{% endblock %}