{% extends "base.html" %}
{% set hideHeader = true %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/assets/css/yfts.css" />
	<script>
		var disqus_config = function () {
				this.page.url = '{{ urlRoot + path }}'
				this.page.identifier = '{{ path }}';
				this.page.title = 'YFTS - {{ title }}'
		};
		(function() {
				var d = document, s = d.createElement('script');
				s.src = '//epicaricacy-web.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
		})();
	</script>
{% endblock %}

{% block content %}
	<div class="narrow-page page-content">
		<div class="relative center ">
			<a href="/yfts">
				<img class="heading" src="/assets/images/yfts/title.png" />
			</a>
			<div><h1>{{title}}</h1></div>
		</div>
		<div class="vertical-space-tall">
			{{ contents | safe }}
		<div>
		<div class="date">
			Posted on {{ publishDate }}
		</div>
		<div>
		{% if modifiedDate %}
		<div class="date">
			Last updated on {{ modifiedDate }}
		</div>
		{% endif %}
		<div class="center">
			{% if next %}<a href="/{{next.path}}">Older</a>{% endif %}
			{% if previous %}<a href="/{{previous.path}}">Newer</a>{% endif %}
		</div>
		<div id="disqus_thread"></div>
	</div>
{% endblock %}