{% extends "base.html" %}
{% set hideHeader = true %}
{% block head %}
	{{ super() }}
{% endblock %}

{% block content %}
	<div>
		<span>Date: {{date}}</span>
	</div>
	<div class="narrow-page">
		<div><h2><a href="/yfts">YOUR FAVORITE THING SUCKS</a></h2></div>
		<div><h1>{{title}}</h1></div>
		{{ contents | safe }}
		<div class="center">
			{% if next %}<a href="/{{next.path}}">Previous</a>{% endif %}
			{% if previous %}<a href="/{{previous.path}}">Next</a>{% endif %}
		</div>
	</div>
{% endblock %}