{% extends "base.html" %}
{% set activePage = 'about' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/assets/css/about.css" />
	<script src="/assets/scripts/about.js"></script>
{% endblock %}

{% block content %}
	<div class="greeting">
		<a href="https://www.youtube.com/watch?v=Q46l70mNmCw">
			<img id="meImg" class="me" src="/assets/images/about/me_normal.jpg"
				onmouseover="makeAngry()" onmouseout="makeNormal()" />
		</a>
		<h3>{{ contents | safe }}</h3>
		<div class="icons">
			<a href="https://www.twitter.com/HolyMeekrob">
				<div class="tw icon"></div>
			</a>
			<a href="https://www.facebook.com/HolyMeekrob">
				<div class="fb icon"></div>
			</a>
			<a href="https://plus.google.com/+AndySteinberg9">
				<div class="gp icon"></div>
			</a>
			<a href="https://www.linkedin.com/in/andysteinberg9">
				<div class="li icon"></div>
			</a>
			<a href="https://github.com/HolyMeekrob">
				<div class="gh icon"></div>
			</a>
			<a href="https://holymeekrob.yelp.com">
				<div class="yp icon"></div>
			</a>
			<a href="https://www.pinterest.com/holymeekrob">
				<div class="pn icon"></div>
			</a>
			<a href="https://steamcommunity.com/id/holymeekrob">
				<div class="st icon"></div>
			</a>
			<a href="https://www.goodreads.com/Meekrob">
				<div class="gr icon"></div>
			</a>
			<a href="https://www.instagram.com/holymeekrob/">
				<div class="ig icon"></div>
			</a>
		</div>
		<div>
			<img src="/assets/images/about/gmail.png" />
		</div>
	</div>
{% endblock %}
