{% extends "base.html" %}
{% set activePage = 'faq' %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/assets/css/faq.css" />
{% endblock %}

{% block content %}
	<dl>
		<dt>What the hell is this place?</dt>
		<dd>
			It's a place for showing off my creative endeavors and
			hopefully making the world a little more miserable.
		</dd>
		<dt>What does epicaricacy mean?</dt>
		<dd>
			It means "rejoicing at or finding pleasure in the misfortune of others."
			You may also know it as schadenfreude.
		</dd>
		<dt>Well then why didn't you name it Schadenfreude.com?</dt>
		<dd>
			Two reasons, actually. One is that the domain was taken. The other,
			more important reason is that epicaricacy is English, which is what I
			speak. I'm not going to	adopt a filthy German word if I don't have to.
		</dd>
		<dt>
			Epicaricacy doesn't show up in most dictionaries and all indications are
			that it's not really a word. So did you screw up or what?
		</dt>
		<dd>
				Dictionaries don't define a language, and a word is valid if there is a
				mutual understanding of definition. Words are meant to convey meaning,
				and so as long as both you and I agree to that meaning, then it fulfills
				that requirement. Since I have given you that definition, and there
				are no competing definitions, it is a valid word for the sake of our
				communication.
		</dd>
		<dt>So what, do you actually have epicaricacy?</dt>
		<dd>Yes.</dd>
		<dt>Aren't you just trying to dress up the fact that you're a troll?</dt>
		<dd>
			I'm not dressing anything up.
		</dd>
		<dt>Why is the text in Comic Sans?</dt>
		<dd>
			Because there is a significant group of people who believe that you
			should never use Comic Sans. They make this claim because they have
			been told that it is the truth. It is an example of groupthink. If
			you challenge these people to explain it, they rarely have good reasons.
			The ones that do, if they're being reasonable, will eventually admit that
			there are some instances where using Comic Sans is actually sensible (for
			example, in a comic strip), and so they were overgeneralizing.
		</dd>
		<dt>This isn't a comic strip. Why are you using it here?</dt>
		<dd>
			To piss those people off. See the definition of epicaricacy above.
		</dd>
		<dt>This site blows.</dt>
		<dd>That wasn't a question.</dd>
		<dt>This site blows?</dt>
		<dd>Yep.</dd>
		<dt>Why not make it better?</dt>
		<dd>
			I'm working on it. The good thing about a website is that it's
			never finished, so it can keep getting better. You, on the other hand,
			are stuck my friend.
		</dd>
		<dt>I'm not your friend.</dt>
		<dd>That wasn't a question.</dd>
		<dt>I'm not your friend?</dt>
		<dd>
			Hah! Of course not! Nobody likes you, me least of all.
		</dd>
		<dt>What makes these questions "Frequently Asked"?</dt>
		<dd>
			Well, they've been asked exactly once. By me. Every other question
			related to the site has been asked zero times. So, by default, they're
			the most frequent.
		</dd>
		<dt>That's stupid.</dt>
		<dd>That wasn't a question.</dd>
		<dt>That's stupid?</dt>
		<dd>No it's not.</dd>
		<dt>
			Isn't this list just an excuse to put content on a site that is otherwise
			suffering from a severe dearth of it?
		</dt>
		<dd>Yes.</dd>
	</dl>
{% endblock %}
