{% extends "base.html" %}
{% set activePage = 'fiction' %}
{% block title %} Fiction {% endblock %}

{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/assets/css/fiction.css" />
{% endblock %}
{% block content %}
	<h1>Fiction</h1>
	<div>
		<span>
			Here are some samples of fiction that I've written. I guarantee that it
			won't be the worst thing that you've ever read on the internet.
		</span>
		<div class="list">
			<div class="line-item">
				<a href="/fiction/battery" class="title">Battery</a>
				<span class="description">
					A short story about two brothers facing off in a crucial baseball
					game. It is very loosely based on my relationship with one of my
					brothers. Fun note: It is very lightly implied that the victorious
					brother plays for the Yankees. Because in my stories, the Yankees
					will always win.
				</span>
			</div>
			<div class="line-item">
				<a href="/assets/fiction/meeting_the_neighbors.pdf" class="title">Meeting the Neighbors</a>
				<span class="description">
					A short story about a man who wrongfully became a sex offender and
					was legally required to go around introducing himself to the
					neighborhood. Fun note: This was inspired by the scene in The Big
					Lebowski where Jesus has to do the same thing.
				</span>
			</div>
			<div class="line-item">
				<a href="/assets/fiction/the_modern_family.pdf" class="title">The Modern Family</a>
				<span class="description">
					A short story about a really depressed family. It was an attempt
					to do dark comedy and to do something really strange with the
					narration. Also, I wrote (and titled) this well before the TV show
					ever came out. Fun note: I wrote this shortly after reading "The
					Things They Carried" by Tim O'Brien. The original title was "The
					Things They Hated".
				</span>
			</div>
			<div class="line-item">
				<a href="/assets/fiction/tytf.pdf" class="title">Harry Potter and the Year Time Forgot</a>
				<span class="description">
					I loathe the Harry Potter novels. Despite this fact, I read all of
					them. The reason I did so was to be able to win arguments with people
					who like the books. By reading the whole series, I had all of the
					facts. After many arguments where I found myself repeating everything,
					I decided to write all of them down. What better way to do so then
					by creating fan fiction that points out everything that makes the
					books terrible? Please note that I attempted to emulate the style of
					JK Rowling, and that's why the writing itself is bad. Fun note:
					Newton Crosby was named after Steve Guttenberg's character in the film
					Short	Circuit.
				</span>
			</div>
			<div class="line-item">
				<a href="/fiction/8/" class="title">8</a>
				<span class="description">
					My first award winner! Well, it was a third place award (Austin
					Chronicle's 2013 Short Story contest). I won money though, so it
					counts. It's about a breakup, and I'll leave it at that, since the
					exact interpretation can be open-ended. This wasn't inspired by any
					of my breakups in particular, but rather the common way in which they
					all affected me. Fun note: I inserted a lot of references to the
					number eight within the story, some more disguised than others. See
					how many you can spot!
				</span>
			</div>
		</div>
	</div>
{% endblock %}
