{% extends "base.html" %}
{% if path == pagination.first.path %}{% set activePage = "fiction" %}{% endif %}
{% set title = "Fiction I've written" %}
{% set hideHeader = true %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" href="/assets/css/fiction.css" />
{% endblock %}
{% block content %}
	<a href="/fiction.xml">
		<div class="rss"></div>
	</a>
	<div>
			<div class="center" />
				<h1>{{title}}</h1>
			</div>
			<h3 class="narrow">
				Here are some samples of fiction that I've written. I guarantee that it
				won't be the worst thing that you've ever read on the internet.
			</h3>
		<dl class="relative">
			{% for post in pagination.files %}
				<dt><a href="/{{ post.path }}">{{ post.title }}</a></dt>
				<dd>{{ post.intro | safe }}</dd>
			{% endfor %}
		</dl>
		<div class="clear">
			{% if pagination.num > 1 %}
				<a href="/{{ pagination.first.path | prettifyUrl }}"><--</a>
				<a href="/{{ pagination.previous.path | prettifyUrl }}"><-</a>
			{% endif %}
			{% if pagination.num < pagination.pages.length  %}
				<a href="/{{ pagination.next.path | prettifyUrl }}">-></a>
				<a href="/{{ pagination.last.path | prettifyUrl }}">--></a>
			{% endif %}
		</div>
	</div>
{% endblock %}
