{% extends "base.html" %}
{% set activePage = 'home' %}

{% block head %}
{{ super() }}
	<link rel="stylesheet" href="/assets/css/home.css" />
{% endblock %}

{% block content %}
	<div class="center">
		<h1>Vigo the Carpathian, the original epicaricacist, welcomes you.</h1>
		<img class="vertical-space-medium greeter"src="/assets/images/home/vigo.jpg"
			alt="Vigo the Carpathian" />
	</div>

	<div class="center vertical-space-medium">
		<span>
			This site is being continually updated.
			Your impatience is like the buzzing of flies to Vigo.
			Please check back soon.
		</span>
	</div>
{% endblock %}
