{% extends "base.html" %}
{% set activePage = 'home' %}

{% block content %}
	<div class="block center">
		<h1>Vigo the Carpathian, the original epicaricacist, welcomes you.</h1>
		<img src="/assets/images/home/vigo.jpg" alt="Vigo the Carpathian" style="height: 400px; width: auto" />
	</div>

	<div class="center vertical-space-tall">
		<span>
			This site is being contienually updated.
			Your impatience is like the buzzing of flies to Vigo.
			Please check back soon.
		</span>
	</div>
{% endblock %}
