dt, dd {
	margin-top: 5rem;
	float: left;
}

.clear {
	clear: both;
}

dt {
	padding: 0.5rem;
	width: 30%;
	clear: both;
}

dd {
	width: 60%;
	text-align: justify;
}

dd::after {
	clear: both;
	content: "";
}

.narrow {
	margin: 0 8vw;
}