.greeting {
	display: block;
	width: 60%;
}

.me {
	float: right;
	height: 400px;;
	margin-left: 30px;
}

.icon {
	height: 64px;
	width: 64px;
	background-position: center;
	background-repeat: no-repeat;
	transition: background-image .1s ease;
	float: left;
}

$imgDir: /assets/images/about;

@define-mixin icon $abbr, $filename {
	.$abbr {
		background-image: url("$imgDir/$(filename)_sm.png");
	}
	
	.$abbr:hover {
		background-image: url("$imgDir/$(filename)_lg.png");
	}
}

@mixin icon tw, twitter {
}

@mixin icon fb, fb {
}

@mixin icon gp, gplus {
}

@mixin icon li, linkedin {
}

@mixin icon gh, github {
}

@mixin icon yp, yelp {
}

@mixin icon pn, pinterest {
}

@mixin icon st, steam {
}

@mixin icon gr, goodreads {
}
