@define-placeholder dl-element {
	margin-top: 5rem;
	float: left;
}

dt {
	@extend dl-element;
	padding: 0.5rem;
	width: 30%;
}

dd {
	@extend dl-element;
	width: 60%;
	text-align: justify;
}

dd:after {
	display: block;
	clear: both;
}
