@define-placeholder dl-element {
	margin-top: 5rem;
	float: left;
}

.clear {
	clear: both;
}

dt {
	@extend dl-element;
	padding: 0.5rem;
	width: 30%;
	clear: both;
}

dd {
	@extend dl-element;
	width: 60%;
	text-align: justify;
}

dd::after {
	clear: both;
	content: "";
}
