.sidebar {
	background-color: lightgray;
	padding: 2rem;
	border-right: 0.1rem solid black;
	flex-basis: 15%;
}

.sidebar-category {
	display: block;
	font-size: 2.4rem;
	font-weight: bold;
	color: brown;
	margin-top: 3rem;
}

li {
	list-style-type: disc;
	margin-left: 2rem;
}

.sidebar-item {
	display: block;
	margin-bottom: 2rem;
}

.sidebar-link:hover {
	color: darkred;
}

.sidebar-link:active {
	color: deeppink;
}

.home-logo {
	max-height: 50px;
	max-width: 50px;
	margin-bottom: 2rem;
	margin-left: 25%;
	margin-right: 25%;
}