.sidebar {
	padding: 2rem;
	border-right: 0.1rem solid #000000;
	flex-basis: 15%;
	background-color: #D3D3D3;
	background: linear-gradient(#D3D3D3, #AAA);
}

.sidebar-item {
	display: block;
	margin-bottom: 2rem;
	padding-left: 2rem;
}

.sidebar-link:hover {
	color: #8B0000;
}

.sidebar-link:active {
	color: #FF1493;
}

.sidebar-link:hover:before {
	content: "-> ";
	position: absolute;
	left: 0;
}

.home-logo {
	max-height: 50px;
	max-width: 50px;
	margin-bottom: 20%;
	margin-left: 25%;
	margin-right: 25%;
}

.sticky {
	position: sticky;
	top: 2rem;
	margin-top: 25vh;
}
