h1 {
	text-align: center;
}

.narrow-page {
	margin: 2em;
	padding: 3em;
	background: antiquewhite;
	box-shadow: 0.1em 0.1em 0.1em 0.1em gray;
}

.page-color {
	color: antiquewhite
}

/* TODO: Add some styling to blockquote */
blockquote {
	margin: 0 0 0 1em;
	font-style: italic;
}
