html {
	font-size: 62.5%
}

body {
	margin: 0;
	font-family: "Comic Sans MS", "Comic Sans", "Short Stack", sans-serif;
	font-size: 2rem;
	background-color: lightblue;
}

h1 {
	text-shadow: 4px 4px 4px #aaa;
}

.block {
	display: block;
}

.hidden {
	visibility: hidden;
}

.undisplayed {
	display: none;
}

.relative {
	position: relative;
}

.error, .red {
	color: red;
}

.outer-container {
	display: flex;
	height: 100%;
	min-height: 100vh;
	flex-direction: column;
}

.inner-container {
	display: flex;
	flex: 1 0 auto;
	flex-direction: row;
}

.content {
	width: 100%;
	padding: 2rem;
	flex: 1;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.vertical-space-medium {
	margin-top: 5rem;
}

.vertical-space-tall {
	margin-top: 10rem;
}

.narrow-page {
	margin: 8vw;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
}