html {
	font-size: 62.5%
}

body {
	margin: 0;
	font-family: "Comic Sans MS", "Comic Sans", "Short Stack", sans-serif;
	font-size: 2rem;
	background-color: #A2BDF2;
}

h1 {
	text-shadow: 4px 4px 4px #AAA;
}

.block {
	display: block;
}

.hidden {
	visibility: hidden;
}

.undisplayed {
	display: none;
}

.relative {
	position: relative;
}

.error, .red {
	color: #FF0000;
}

.outer-container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

.content {
	width: 100%;
	padding: 2rem;
	flex: 1;
	margin: 10%;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.vertical-space-short {
	margin-top: 2rem;
}

.vertical-space-medium {
	margin-top: 5rem;
}

.vertical-space-tall {
	margin-top: 10rem;
}

.narrow-page {
	margin: 8vw 10%;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.rss {
	height: 64px;
	width: 64px;
	position: fixed;
	right: 5%;
	top: 5%;
	background-image: url('/assets/images/rss.png');
	background-size: 50px;
	background-position: center;
	background-repeat: no-repeat;
}

.rss:hover {
	background-size: 64px;
}

main:after {
	content: "";
	background: url("/assets/images/home/frenchman.png");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: fixed;
	z-index: -1;
}