html {
	font-size: 62.5%
}

body {
	margin: 0;
	font-family: "Comic Sans MS", "Comic Sans", "Short Stack", sans-serif;
	font-size: 2rem;
	background-color: #ADD8E6;
}

h1 {
	text-shadow: 4px 4px 4px #AAA;
}

.block {
	display: block;
}

.hidden {
	visibility: hidden;
}

.undisplayed {
	display: none;
}

.relative {
	position: relative;
}

.error, .red {
	color: #FF0000;
}

.outer-container {
	display: flex;
	flex-direction: row;
	min-height: 100vh;
}

.content {
	width: 100%;
	padding: 2rem;
	flex: 1;
	margin: 10%;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.vertical-space-medium {
	margin-top: 5rem;
}

.vertical-space-tall {
	margin-top: 10rem;
}

.narrow-page {
	margin: 8vw 10%;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 8rem;
	padding-bottom: 8rem;
}
